



<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<i>
</i>
<div class="index">
<body class="index">
<div>
<section class="cloud-scene group">
  <img src="sky.png" class="skybacking">
  <div class="sky">
    <ul class="clouds">
      <img src="wisps.png" class="cloud1"></img>
      <img src="cloud1.png" class="cloud2"></img>
      <!-- <img src="cloud2.png" class="cloud3"></img> -->
      <img src="wisps.png" class="cloud4"></img>
      <img src="cloud1.png" class="cloud5"></img>
    </ul>
  </div>
</section>



<% questions.each( function(question) { %>
  <el> <%= question.escape("votes") %>
       <% if (question.escape("votes") === "1") { %>
        vote
      <% } else  {%>
        votes
        <% } %>
        <el>
     <%= question.escape("answercount") %>
     <% if (question.escape("answercount") === "1" ) { %>
       answer
     <% } else { %>
     answers
     <% } %>
  <section class="index-item">

<a href="#questions/<%= question.escape('id')%>"><%= question.escape('title')  %></a>
  </section>
  <p><%= question.escape('body') %></p>
<% }); %>


</div>

</body>
