



<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<i>
</i>
<div class="index">
<body class="index">
<div>
<section class="cloud-scene group">
  <img src="sky.png" class="skybacking">
  <div class="sky">
    <ul class="clouds">
      <img src="wisps.png" class="cloud1"></img>
      <img src="cloud1.png" class="cloud2"></img>
      <!-- <img src="cloud2.png" class="cloud3"></img> -->
      <img src="wisps.png" class="cloud4"></img>
      <img src="cloud1.png" class="cloud5"></img>
    </ul>
  </div>
</section>


<div class="select" name="">

<div class='index-header'>
  All Questions
</div>
<ul class ="tabular">
  <li class="recent"><button  class="tabby" type="button" name="button">recent</button></li>
  <li class="by-votes"><button  class="tabby index-on" type="button" name="button">votes</button></li>
</ul>
</div>


<% questions.each( function(question) { %>
  <section class="index-item">
  <div class="index-stats">
   <el class="index-votes">
      <el class=index-number>
        <%= question.escape("votes") %>
      </el>
      <el class='index-small'>
          <% if (question.escape("votes") === "1") { %>
            vote

          <% } else  {%>

            votes

        <% } %>
        </el>
   </el>
   <el class='index-answers'>
     <el class='index-number'>
       <%= question.escape("answercount") %>
     </el>
     <el class='index-small'>
       <% if (question.escape("answercount") === "1" ) { %>
         answer
       <% } else { %>
         answers
     </el>
     <% } %>
   </el>
  </div>
<div class="index-question">
  <div class="index-title">
    <a href="#questions/<%= question.escape('id')%>"><%= question.escape('title')  %></a>
  </div>
  <div class="index-body">
  <%= question.escape('body') %>
  </div>
  <div class="etc">


    <div class="index-tags">

      <% var tags =   question.escape('tags').split(',') %>
      <% if ( tags[0].length > 0) { %>
        <% for( var i = 0; i < (tags.length) && i < 5 ; i ++) { %>
          <el class="index-tag">
            <%= tags[i] %>
          </el>
        <% }%>
      <% } %>
    </div>
    <div class="index-user">
      asked
      <% var date = question.escape('created_at').split(' ') %>
      <%= date[1] %>
      '<%= date[0] %>
       at <%= date[2] %><br>
      by <%= question.escape('author') %>
    </div>
    </div>
  </div>


</div>

  </section>
<% }); %>


</div>

</body>
