<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>

  </body>
</html>

<section class="questions-show">




<br>
<h1 class="question-titles">
  <form id="downvote">
    <button class="dvote">DN</button>
    <input type="hidden" name="question_id" value="<%= question.escape("id") %>">
    <input type="hidden" name="value" value="<%= false %>">
  </form>
  <form id="upvote">
    <input type="hidden" name="question_id" value="<%= question.escape("id") %>">
    <input type="hidden" name="value" value="<%= true %>">
    <button class="uvote">UP</button>
  </form>

<em class="votes"> <%= question.escape("votes")%> </em>
<%= question.escape("title") %>
</h1>
<br>
<h2> <%= question.escape("body") %> </h2>
<br>
<% if (question.escape("filepicker_url").slice(0,5) === "https") { %>
<img src="<%= question.escape("filepicker_url") %>"> </img>
<% } %>
<br>
<br>
  <i class= "answers">
<h2> Comments: </h2>
  <% question.comments().each( function(comment) {%>
  <%= comment.escape("body") %> <br>
  <% }); %>

  <h1>Answer:</h1>
  <i class= "answers">
    <% question.answers().each( function(answer) {%>
    <p class=answer> <%= answer.escape("body") %> </p><br>
    <% }); %>
  </i>
<br>
<p></p>
<div class="answerForm"> </div>
<div class="commentForm"></div>
</section>
